@{
    ViewData["Title"] = "Investica Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-custom">
    @Html.Partial("~/Views/Shared/_leftPanel.cshtml")

    <div class="right-panel">
        @Html.Partial("~/Views/Shared/_rightPanel.cshtml")

        <div class="dashboard">
            @Html.Partial("~/Views/Home/Dashboard.cshtml")
        </div>
    </div>
</div>
