<div class="card p-4">

    <h3 class="fw-bold mb-3" style="color:#0f1445;">Useful Links</h3>
    <p class="text-muted mb-4">
        Below are official state & corporation portals used for Shop & Trade licenses.
    </p>

    <!-- SHOP CATEGORY LINKS -->
    <div class="mb-4">
        <h5 class="fw-bold mb-3" style="color:#0f1445;">SHOP CATEGORY LINKS</h5>

        <div class="table-responsive" style="max-height:45vh; overflow-y:auto;">
            <table class="table table-bordered table-hover align-middle">
                <thead class="table-dark" style="position: sticky; top: 0; z-index: 5;">
                    <tr>
                        <th style="width:40%;">STATE</th>
                        <th style="width:60%;">URL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>MAHARASHTRA (MUMBAI)</td>
                        <td><a href="https://portal.mcgm.gov.in/irj/portal/anonymous/qlsaeoService" target="_blank">https://portal.mcgm.gov.in/irj/portal/anonymous/qlsaeoService</a></td>
                    </tr>
                    <tr>
                        <td>REST OF MAHARASHTRA</td>
                        <td><a href="https://maitri.mahsonline.gov.in/Login/Logni" target="_blank">https://maitri.mahsonline.gov.in/Login/Logni</a></td>
                    </tr>
                    <tr>
                        <td>KARNATAKA</td>
                        <td><a href="http://164.100.133.176/ekarnika/Static/Home.aspx" target="_blank">http://164.100.133.176/ekarnika/Static/Home.aspx</a></td>
                    </tr>
                    <tr>
                        <td>DELHI</td>
                        <td><a href="http://labourcis.nic.in/" target="_blank">http://labourcis.nic.in/</a></td>
                    </tr>
                    <tr>
                        <td>MADHYA PRADESH</td>
                        <td><a href="http://www.labour.mp.gov.in/Esr/public/Establishment_Apply.aspx" target="_blank">http://www.labour.mp.gov.in/Esr/public/Establishment_Apply.aspx</a></td>
                    </tr>
                    <tr>
                        <td>ANDHRA PRADESH</td>
                        <td><a href="https://ineap.meeseva.gov.in/CitizenPortal/UserInterface/Citizen/CitizenHome" target="_blank">https://ineap.meeseva.gov.in/CitizenPortal/UserInterface/Citizen/CitizenHome</a></td>
                    </tr>
                    <tr>
                        <td>WEST BENGAL</td>
                        <td><a href="https://wbshopsonline.gov.in/#" target="_blank">https://wbshopsonline.gov.in/#</a></td>
                    </tr>
                    <tr>
                        <td>KERALA</td>
                        <td><a href="https://lcas.lc.kerala.gov.in/office/registration/onlinemain_online_pay.php" target="_blank">https://lcas.lc.kerala.gov.in/office/registration/onlinemain_online_pay.php</a></td>
                    </tr>
                    <tr>
                        <td>TAMIL NADU</td>
                        <td><a href="https://labour.tn.gov.in/services/users/login" target="_blank">https://labour.tn.gov.in/services/users/login</a></td>
                    </tr>
                    <tr>
                        <td>GUJARAT</td>
                        <td><span class="fw-bold text-danger">OFFLINE</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!-- TRADE CATEGORY LINKS -->
    <div>
        <h5 class="fw-bold mb-3" style="color:#0f1445;">TRADE CATEGORY LINKS</h5>

        <div class="table-responsive" style="max-height:45vh; overflow-y:auto;">
            <table class="table table-bordered table-hover align-middle">
                <thead class="table-dark" style="position: sticky; top: 0; z-index: 5;">
                    <tr>
                        <th style="width:10%;">SR NO</th>
                        <th style="width:45%;">CORPORATION</th>
                        <th style="width:45%;">WEBSITE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>NAVI MUMBAI MUNICIPAL CORPORATION</td>
                        <td><a href="https://www.nmmc.gov.in/" target="_blank">https://www.nmmc.gov.in/</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>THANE MUNICIPAL CORPORATION</td>
                        <td><a href="https://thanecity.gov.in/tmc/CitizenHome.html" target="_blank">https://thanecity.gov.in/tmc/CitizenHome.html</a></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>KALYAN-DOMBIVALI MUNICIPAL CORPORATION</td>
                        <td><a href="https://kdmc.gov.in/kdmc/CitizenHome.html" target="_blank">https://kdmc.gov.in/kdmc/CitizenHome.html</a></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>MUMBAI MUNICIPAL CORPORATION</td>
                        <td><a href="https://mcgm.gov.in/" target="_blank">https://mcgm.gov.in/</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
