@{
    ViewData["Title"] = "Links";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card p-4" id="linkCard">
    <h5 style="color:#0f1445;font-weight:700;">SHOP CATEGORY LINKS</h5>

    <div class="table-responsive">
        <table id="tblShopLinks" class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>STATE</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <h5 style="color:#0f1445;font-weight:700;margin-top:25px;">TRADE CATEGORY LINKS</h5>

    <div class="table-responsive">
        <table id="tblTradeLinks" class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>SR NO</th>
                    <th>CORPORATION</th>
                    <th>WEBSITE</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/Links.js"></script>
}