@* <div style='max-height: 50vh; overflow-y: auto; padding-right: 10px;'>
    <h5 style='color: #0f1445; font-weight: 700; position: sticky; top: 0; background: #fff; padding: 10px 0; margin-bottom: 15px; z-index: 5;'>SHOP CATEGORY LINKS</h5>
    <table class='table table-bordered table-hover'>
        <thead class='table-dark' style='position: sticky; top: 45px;'>
            <tr><th style='width: 40%;'>STATE</th><th style='width: 60%;'>URL</th></tr>
        </thead>
        <tbody> *@
